<app-navbar></app-navbar>

<div class="container">
    <h2>Collected Books</h2>
    <table class="book-table">
        <thead>
            <tr>
                <th>Book Cover</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of collectedBooks">
                <td>
                    <img *ngIf="book.coverLink" [src]="book.coverLink" alt="Book Cover" />
                </td>
                <td>{{ book.title }}<button (click)="removeFromCollection(book._id)">Remove From Collection</button></td>
                <td>{{ displayAuthors(book.author) }}</td>
                <td>{{ displayRating(book.rating) }}</td>
            </tr>
        </tbody>
    </table>
    <app-spinner></app-spinner>
</div>
