/* Host styles to center the component */
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Container for the form with styling */
  .form-container {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for input groups */
  .input-group {
    margin-bottom: 15px;
  }

  /* Styling for "*" above the fields */
.input-group {
  position: relative;
  top: -5px;
  right: 10px;
  color: red;
  font-size: 12px;
}
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Container for the login button */
  .button-container {
    text-align: center;
  }
  
  .center-text{
    text-align:center;
  }

    /* Styling for error text */
.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

    /*Styling to make the submit button green */
green-button {
  background-color: green;
  color: green;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.green-button:hover {
  background-color: darkgreen;
}

button.green-button {
  background-color: green;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}