<div class="centerDivStyles">
  <h2>Welcome <br> Back!</h2>
  <form (ngSubmit)="onSubmit()">
    <input type="email" class="textbox" placeholder="Email Address" [(ngModel)]="email" name="email" required>
    <br>
    <input type="password" class="textbox" placeholder="Password" [(ngModel)]="password" name="password" required>
    <br>
    <button class="sign-in" type="submit">Sign In</button>
    <br>
    <label for="">Don't have an account?</label>
    <br>
    <a routerLink="/signup">
      <button class="createAccount">Create Account</button>
    </a>
  </form>
</div>
<img src="./assets/LoginImage2.png" alt="Login Image">