<div class="centerDivStyles">
  <h2>Welcome!</h2>
  <form (ngSubmit)="onSubmit()">
    <br>
    <input type="text" class="textbox" placeholder="First Name" [(ngModel)]="name" name="name" required>
    <br>
    <input type="email"class="textbox" placeholder="Email Address" [(ngModel)]="email" name="email" required>
    <br>
    <input type="password"class="textbox" placeholder="Password" [(ngModel)]="password" name="password" required>
    <br>
    <button class="createAccount" type="submit">Create Account</button>
    <br>
    <label for="">Already have an account?</label>
    <br>
    <a routerLink="/login">
      <button class="sign-in">Sign In</button>
    </a>
  </form>
</div>
<img src="./assets/LoginImage2.png" alt="Login Image">