<div class="homepage">
  <app-navbar></app-navbar>
  <img src="assets/undraw_reading_re_29f8.svg" alt="person reading">
  <a routerLink="/search">
    <button class="search">Search Books</button>
  </a>
<br>
  <a routerLink="/dashboard">
    <button>Explore Trending</button>
  </a>
  <br>
  <a routerLink="/recommended">
    <button class="recommend">Recommendations</button>
  </a>
<br>
  <a routerLink="/collection">
    <button>View Your Collection</button>
  </a>
  <app-spinner></app-spinner>
</div>