<div class="homepage">
  <app-navbar></app-navbar>

  <app-homepage-section [imageSrc]="'assets/undraw_reading_re_29f8.svg'" [sectionText]="'Section 1 text goes here.'"
    [buttonText]="'Get Started'"></app-homepage-section>

  <app-homepage-section [imageSrc]="'assets/undraw_reading_re_29f8.svg'" [sectionText]="'Section 3 text goes here.'"
    [buttonText]="'Start Searching'"></app-homepage-section>

  <app-homepage-section [imageSrc]="'assets/undraw_reading_re_29f8.svg'" [sectionText]="'Section 4 text goes here.'"
    [buttonText]="'Get Recomendations'"></app-homepage-section>

  <app-homepage-section [imageSrc]="'assets/undraw_reading_re_29f8.svg'" [sectionText]="'Section 5 text goes here.'"
    [buttonText]="'Start Collecting'"></app-homepage-section>

  <app-spinner></app-spinner>
</div>