<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/login" method="post">
        <input type="email" name="email" id="email" pattern="^.+@.+\..+$" required="required" placeholder="Email Address"><br>
        <br>
        <input type="password" name="password" id="password" required="required" placeholder="Password"><br>
        <br>
        <input type="submit" value="Log In">
    </form>
</body>
</html>