.page-container {
    display: flex;
    height: 100vh;
  }

  .left-section,
  .right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-section {
    background-color: #ddd;
  }
  
  .left-section img {
    max-width: 100%;
    height: auto;
  }
  
  .right-section {
    padding: 0;
  }
  
  app-signup {
    width: 100%;
  }
  