.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    color: transparent;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(45deg, #3498db, #2980b9);
    -webkit-background-clip: text;
    background-clip: text;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.generateButton {
    margin-bottom: 2em;
    align-items: center;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    align-items: center;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-cover {
    max-width: 50%;
    width: 40%; 
    height: auto;
    padding-left: 30%;
    border-radius: 8px;
}

.book-details {
    text-align: center;
}

.author {
    color: #666;
}

.rating {
    color: #3498db;
    font-weight: bold;
}

.add-btn {
    background-color: #7BA668;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 100%;
}

.add-btn:hover {
    background-color: #648e52;
}

.remove-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.remove-btn:hover {
    background-color: #c0392b;
}