<app-navbar></app-navbar>
<div class="container">
    <button (click)="createRecommendedButton()">Waste Sean's money button</button>
    <h2 class="page-title">Book Recommendations</h2>
    <div class="book-grid">
        <div *ngFor="let book of recommendedBooks" class="book-card">
            <img *ngIf="book.coverLink" [src]="book.coverLink" alt="Book Cover" class="book-cover" />
            <div class="book-details">
                <h3>Book Title:<br> {{ book.title }}</h3>
                <p class="author">Author: {{ displayAuthors(book.author) }}</p>
                <p class="rating">Rating: {{ displayRating(book.rating) }}</p>
                <button class="add-btn" (click)="addToCollection(book)">Add To Collection</button>
                <button class="remove-btn" (click)="removeFromRecommendations(book._id)">Remove From Recommendations</button>
            </div>
        </div>
    </div>
    <app-spinner></app-spinner>
</div>